<h1>Wager History</h1>

<table>
  <tr>
    <th>Round</th>
    <th>Player</th>
    <th>Wager</th>
    <th>Wheel Result:</th>
    <th>Outcome</th>
    <th>Timestamp</th>
  </tr>
  <%= render @wagers %>
</table>

<p>
  <%= paginate @wagers %>
</p>
