<h1>Wager History</h1>

<table>
  <th>
    <td>Round</td>
    <td>Player</td>
    <td>Wager</td>
    <td>Wheel Result:</td>
    <td>Outcome</td>
    <td>Timestamp</td>
  </th>
  <%= render @wagers %>
</table>

<p>
  <%= paginate @wagers %>
</p>
